[Desktop Entry]
Version=1.0
Type=Application
Name=Autostart
Comment=script executed at startup
Exec=mousepad /home/jan/.local/bin/autostart.sh
Icon=org.xfce.session
Path=
Terminal=false
StartupNotify=false
