[Desktop Entry]
Categories=Network;WebBrowser;
Comment=Links terminal browser
Exec=links-helper %u
GenericName=Links
Icon=webbrowser-app
MimeType=
Name=Links
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;application/x-xpinstall;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Terminal=true
Type=Application
Version=1.0