[Desktop Entry]
Categories=Network;WebBrowser;
Comment=Opens URL in available browser
Exec=w3m-helper %u
GenericName=W3M Web Browser
Icon=webbrowser-app
MimeType=
Name=W3M Web Browser
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;application/x-xpinstall;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Terminal=true
Type=Application
Version=1.0
